{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enrollment Chart 2019-2024</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;  
            margin: auto;  
        }
        canvas {
            height: auto;
            width: 100%;
        }

        .barchart{
            width: 70%;
        }
    </style>
</head>
<body>
    <h1>Enrollment Chart 2019-2024</h1>
    <div class="barchart">
        <div>
            Select Department:
            <select id="schoolSelector" onchange="updateChart()">
                <option value="">Choose SLU Department</option>
                {% for school in unique_schools %}
                    <option value="{{ school }}">{{ school }}</option>
                {% endfor %}
            </select>
        </div>    
        <div class="chart-container">
            <canvas id="enrollmentBarChart"></canvas>
        </div>
    </div>
    <script id="school-data" type="application/json">
        {{ enrolled_per_term_school|safe }}
    </script>
    <script src="{% static 'js/charts.js' %}"></script>
</body>
</html>
